<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <!-- 注意：IPA文件URL -->
                        <string>https://tjc-download.weiyun.com/ftn_handler/71b8f85052d1180760adca5da6ff82fe5ee7a8c66aa67f5f351b30728a9f2a07fb76484f144409122712ead7cc31c53d8675b153b87d955a7e708f477e181ce6/CM-iOS-CN-1-1.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <!-- 注意：应用程序icon url, 57x57 -->
                        <string>https://lxstd.top:8090/IPAMarket/0/BSCN.jpg</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <!-- 注意：应用程序identifier -->
                    <string>com.supercell.board1</string>
                    <key>bundle-version</key>
                    <string>1.2084.3</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>lzw.me</string>
                    <key>title</key>
                    <!-- 注意：应用程序名称 -->
                    <string>皇室奇兵</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
